.profile-card {
  padding: 15px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  background-color: #00b2ca;
}

.profile-card__img {
  width: 150px;
  border-radius: 100px;
}

.profile-card__title {
  color: #0b5351;
  margin: 10px 0 5px 0;
}

.profile-card__links {
  list-style: none;
  padding: 0;
}

.profile-card__links > li {
  display: inline-block;
  margin-right: 10px;
}

.profile-card__links li a img {
  width: 25px;
  color: #f79256;
}
